.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height: 100vh;
	padding: 40px;

	background: url(./background.jpg) center/cover;
	gap: 60px;
}

.formContainer {
	width: 100%;
	max-width: 520px;
	padding: 25px 50px;

	border-radius: 30px 7px 7px 7px;
	background-color: var(--white);
}

.form {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 15px;
}

.form h2 {
	margin-bottom: 15px;

	text-align: center;

	font-size: 18px;
	font-weight: 500;
	line-height: 20px;
}

.actionWrapper {
	display: flex;
	justify-content: space-between;

	width: 100%;
}

.logo {
	width: 162px !important;
}

.login {
	width: 100%;
	padding: 13px 7px;

	color: var(--black);
	border-radius: 3px;
	box-shadow: 1px 4px 9px 0 rgba(0, 0, 0, 0.25);

	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
}

.password {
	width: 100%;
	margin-bottom: 20px;
	padding: 13px 7px;

	color: var(--black);
	border-radius: 3px;
	box-shadow: 1px 4px 9px 0 rgba(0, 0, 0, 0.25);

	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
}

.spinner {
	display: block;

	width: 39px;
	height: 39px;

	animation: spin 0.8s ease-in-out infinite;

	border: 3px solid var(--background);
	border-top: 3px solid var(--primary);
	border-radius: 50%;
}

.spinnerHidden {
	visibility: hidden;
}

.error {
	margin-top: 10px;

	color: var(--red);
}

@media (max-width: 425px) {
	.wrapper {
		padding: 15px;
	}

	.formContainer {
		padding: 25px 25px;
	}

	.form {
		gap: 10px;
	}

	.button {
		padding: 12.5px 30px !important;
	}
}

@keyframes spin {
	0% { transform: rotate(-45deg); }
	100% { transform: rotate(315deg); }
}
