.wrapper {
	display: grid;

	align-items: center;

	width: 100%;
	height: fit-content;

	grid-template-areas: ". lineLeft . title . lineRight ."  ". price price price price price .";
	grid-template-columns: 10% 1fr 20px auto 20px 1fr 10%;
	grid-template-rows: auto auto;
}

.bigger {
	row-gap: 20px;

	font-size: 30px;
	line-height: 30px;
}

.lower {
	row-gap: 4px;

	font-size: 18px;
	line-height: 18px;
}

.lineLeft {
	height: 1px;

	background-color: var(--black);
	grid-area: lineLeft;
}

.lineRight {
	height: 1px;

	background-color: var(--black);
	grid-area: lineRight;
}

.title {
	grid-area: title;
}

.price {
	grid-area: price;
	justify-self: center;
}

@media (max-width: 425px) {
	.wrapper {
		grid-template-columns: 5% 1fr 10px auto 10px 1fr 5%;
	}

	.bigger {
		row-gap: 10px;

		font-size: 20px;
		line-height: 20px;
	}
}
