.sidebar {
	z-index: 50;

	height: 100%;

	background-color: rgb(0, 0, 0, 0);
}

.hovering {
	position: fixed;

	z-index: 49;

	width: 100vw;
	height: 100vh;

	background-color: rgba(0, 0, 0, 0.459);
}

.hoveringNone {
	display: none;
}

.sidebarOpened {
	left: 0;
}

.open {
	position: fixed;

	z-index: 2;

	top: 15px;
	left: 10px;

	display: none;

	width: 50px !important;
	height: 50px !important;

	border-radius: 13px;
	box-shadow: 1px 1px 2.8px 0 rgba(0, 0, 0, 0.24);
}

.close {
	display: none !important;

	width: 50px !important;
	height: 50px !important;

	border-radius: 13px;
	box-shadow: 1px 1px 2.8px 0 rgba(0, 0, 0, 0.24);
}

.logo {
	width: 212px !important;
	height: auto;

	border-radius: 0 !important;
}

.navigation {
	display: flex;
	justify-content: space-between;
	gap: 10px;

	margin-bottom: 25px;
}

.wrapper {
	position: relative;
	z-index: 2;

	display: flex;

	overflow-y: auto;
	flex-direction: column;

	width: 100%;
	height: 100%;
	padding: 20px 33px;

	background-color: var(--white);
}

.about {
	margin-top: auto;
	padding-top: 40px;

	font-size: 14px;
}

.whatsAppButton {
	width: 45px;
}

.whatsAppButton > img {
	animation: pulse 1.5s ease infinite;

	border-radius: 0 !important;
}

.whatsAppButton > .buttonText {
	display: none;
}

.phoneButton {
	width: 45px;
}

.phoneButton > img {
	animation: pulse 1.5s ease infinite;

	border-radius: 0 !important;
}

.contacts {
	display: flex;
	flex-wrap: nowrap;

	margin-top: 34px;
	gap: 10px;
}

@media (min-width: 1201px) {
	.open {
		display: block;
	}

	.close {
		display: block !important;
	}

	.whatsAppButton {
		position: relative;

		width: 40px;
	}

	.phoneButton {
		display: none;
	}
}
