.important {
	display: grid;
	align-self: self-start;
	grid-template-areas: "line title" "line text";
	grid-template-columns: 7px 1fr;
	gap: 24px 14px;
}

.glossImportant {
	position: relative;

	overflow: hidden;

	padding: 10px;

	transition: all 0.1s ease-in;

	border-radius: 10px;
}

.glossImportant::before {
	position: absolute;
	top: 50%;
	left: -20%;

	width: 80px;
	height: 140%;

	content: '';
	transform: rotate(25deg) translateY(-50%);
	animation: glossSweep 5s cubic-bezier(0.23, 1, 0.32, 1) infinite;
	pointer-events: none;

	background: radial-gradient(circle, rgba(235, 235, 235, 0.7) 0%, rgba(235, 235, 235, 0) 100%);
}

@keyframes glossSweep {
	0% {
		left: -20%;
	}

	60% {
		left: -20%;
	}

	100% {
		left: 100%;
	}
}

.exclaim {
	display: inline-block;

	padding: 0 5px;

	transform: rotate(00deg);
	transform-origin: 50% 80%;
	animation: exclaim 4s linear infinite backwards;
}

@keyframes exclaim {
	0% {
		transform: rotate(0deg);
	}

	75% {
		transform: rotate(0deg) translateY(0);
	}

	80% {
		transform: rotate(0deg) translateY(-7px);
	}

	85% {
		transform: rotate(20deg) translateY(-7px);
	}

	90% {
		transform: rotate(-20deg) translateY(-7px);
	}

	95% {
		transform: rotate(0deg) translateY(-7px);
	}

	100% {
		transform: rotate(0deg) translateY(0);
	}
}

.line {
	grid-area: line;

	border-radius: 3.5px;
	background-color: var(--red);
}

.title {
	color: var(--black);

	font-size: 32px;
	font-weight: 900;
	line-height: 32px;
}

.mainText {
	font-size: 23.5px;
	font-weight: 400;
	line-height: 25px;
}

@media (min-width: 1200px) {
	.glossImportant:hover {
		transform: scale(1.03);
	}
}

@media (max-width: 425px) {
	.glossImportant::before {
		left: -40%;

		width: 40px;

		background: radial-gradient(circle, rgba(235, 235, 235, 0.7) 0%, rgba(235, 235, 235, 0) 100%);
	}

	.warning {
		gap: 14px 10px;
	}

	.title {
		font-size: 22px;
		font-weight: 900;
		line-height: 22px;
	}

	.mainText {
		font-size: 16px;
		font-weight: 400;
		line-height: 18px;
	}

	@keyframes glossSweep {
		0% {
			left: -40%;
		}

		60% {
			left: -40%;
		}

		100% {
			left: 100%;
		}
	}
}
