.wrapper {
	position: relative;

	display: block;

	transition: all 0.1s linear;
}

.image {
	pointer-events: none;

	aspect-ratio: 5 / 3;
}

.title {
	position: absolute;
	right: 19px;
	bottom: 25px;

	display: flex;
	overflow: hidden;
	justify-content: center;

	max-width: 85%;
	padding: 14.2px 27px;

	cursor: pointer;

	transition: all 0.1s linear;

	color: var(--white);
	border-radius: 18px;
	background-color: var(--primary);

	font-size: 13.79px;
	font-weight: 500;
	line-height: 15px;
}

.glossTitle::before {
	position: absolute;
	top: 50%;
	left: -30%;

	width: 20px;
	height: 140%;

	content: '';
	transform: rotate(25deg) translateY(-50%);
	animation: glossSweep 4s cubic-bezier(0.23, 1, 0.32, 1) 2s infinite;
	pointer-events: none;

	background: radial-gradient(circle, rgba(142, 161, 196, 0.4) 0%, rgba(142, 161, 196, 0) 100%);
}

@keyframes glossSweep {
	0% {
		left: -30%;
	}

	60% {
		left: -30%;
	}

	100% {
		left: 100%;
	}
}

.wrapper:active .title {
	transform: scale(0.9);

	background-color: var(--primary-hover);
}

@media (min-width: 1025px) {
	.wrapper:hover {
		transform: scale(1.07);
	}

	.wrapper:hover .title {
		transform: scale(1.02);

		background-color: var(--primary-hover);
	}

	.wrapper:active .title {
		transform: scale(0.9);

		background-color: var(--primary-hover);
	}
}

@media (max-width: 1024px) {
	.title {
		right: 10px;
		bottom: 15px;

		padding: 14.2px 27px;

		cursor: pointer;

		transition: all 0.1s linear;

		font-size: 12px;
		font-weight: 500;
		line-height: 14px;
	}
}
