
.mapWrapper {
	position: relative;

	width: 100%;
	height: 60vh;
	min-height: 420px;
}

.contacts {
	position: absolute;
	bottom: 50px;
	left: 55px;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 5px;

	list-style-type: none;
}

.list li {
	position: relative;

	padding-left: 10px;
}

.blue {
	text-decoration: underline;

	color: var(--active);
}

.list li::before {
	position: absolute;
	top: calc(50% - 1px);
	left: 0;

	width: 2px;
	height: 2px;

	content: '';

	background-color: var(--black);
}

@media (max-width: 768px) {
	.contacts {
		bottom: 0;
		left: 0;

		width: 100%;
		padding: 10px !important;

		border-radius: 5px !important;
		gap: 10px !important;
	}

	.list {
		gap: 2px;
	}

	.list li {
		font-size: 12px;
	}
}
