.footer {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 146px;
	padding: 15px;

	background-color: var(--primary);
}

.wrapper {
	display: flex;
	align-items: center;

	height: 100%;
	gap: 48px;
}

.logo {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 15px;
}

.logoImg {
	width: 69px !important;
}

.logo span {
	color: var(--white);

	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
}

.border {
	width: 1px;
	height: 100%;

	background-color: var(--white);
}

.nav {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(2, auto);
	gap: 25px;
}

.nav .point {
	display: flex;
	align-items: center;
	gap: 10px;

	color: var(--white);

	font-size: 15.5px;
	font-weight: 300;
	line-height: 17px;
}

.nav .point svg {
	min-width: 19px;
}

@media (max-width: 910px) {
	.footer {
		height: auto;
		padding: 35px;
	}

	.border {
		display: none;
	}

	.wrapper {
		flex-direction: column;
		gap: 25px;
	}

	.nav {
		justify-items: center;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, auto);
	}

	.nav .point {
		gap: 15px;

		font-size: 13.5px;
	}

	.nav .phone {
		display: grid !important;
		grid-template-columns: 19px auto;
		grid-template-rows: auto auto;
	}

	.nav .phone svg {
		grid-row: 1 / 3;
	}

	.nav .phone span {
		display: none;
	}
}
