.wrapper {
	display: flex;
	flex-direction: column;

	min-height: 100%;

	padding: 15px 0 40px;
	gap: 50px;
}

.h1 {
	margin-left: 30px;
}

.mainWrapper {
	display: grid;
	grid-template-columns: 30px 1fr minmax(20px, 50px) 1fr 30px;
	grid-template-rows: auto 1fr;
	row-gap: 30px;
}

.withoutSub {
	grid-template-areas:
		". image . mainTitle mainTitle"
		". image . mainText .";
}

.withSub {
	grid-template-areas:
		". image . mainTitle mainTitle"
		". image . mainText ."
		"subTitle subTitle . mainText ."
		". subText . mainText .";
}

.image {
	grid-area: image;
	aspect-ratio: 5 / 3;
}

.mainTitle {
	grid-area: mainTitle;
}

.mainText {
	grid-area: mainText;

	width: 100%;
	margin-left: 20px;
}

.subTitle {
	grid-area: subTitle;
}

.subText {
	grid-area: subText;
}

.video {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 30px;
}

.important {
	margin: 0 30px;
}

.withLine {
	position: relative;

	margin: 0 30px;
	padding-left: 20px;

	font-size: 20px;
	line-height: 22px;
}

.withLine::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;

	width: 7px;

	content: '';

	border-radius: 4px;
	background-color: var(--primary);
}

@media (max-width: 1200px) {
	.mainTitle,
	.subTitle {
		font-size: 19px !important;
		font-weight: 600 !important;
		line-height: 22px !important;
	}
}

@media (max-width: 768px) {
	.mainWrapper {
		grid-template-columns: 30px 1fr 30px;
		row-gap: 20px;
		grid-template-areas:
			". image ."
			". mainTitle mainTitle"
			". mainText ."
			"subTitle subTitle ."
			". subText .";
	}

	.withoutSub {
		grid-template-areas:
			". image ."
			". mainTitle mainTitle"
			". mainText .";
	}

	.withSub {
		grid-template-areas:
			". image ."
			". mainTitle mainTitle"
			". mainText ."
			"subTitle subTitle ."
			". subText .";
	}

	.subText {
		margin-left: 20px;
	}
}

@media (max-width: 425px) {
	.wrapper {
		gap: 30px;
	}

	.mainWrapper {
		grid-template-columns: 10px 1fr 10px;
	}

	.mainText,
	.subText {
		margin: 0 auto;

		font-size: 12px;
	}

	.h1 {
		margin-left: 5px;

		font-size: 22px !important;
		font-weight: 800 !important;
		line-height: 25px !important;
	}

	.withLine,
	.important {
		margin: 0 10px;

		font-size: 16px;
		line-height: 18px;
	}

	.sectionWrapper {
		padding: 0 5px;
	}
}
