.h1 {
	margin-top: 15px;
	margin-left: 40px;
}

.categoryContainer {
	margin: 30px 40px;
	padding: 20px;

	border-radius: 5px;
	background-color: var(--white);
}

.categoryTitle {
	font-size: 30px;
	font-weight: 400;
	line-height: 32px;
}

.subcategoriesContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;

	padding-top: 20px;
}

.button {
	display: block;

	width: 40px;
	height: 40px;

	transition: all 0.1s linear;

	background-color: inherit;
}

.button svg {
	width: 40px;
	height: 40px;
}

.button:hover {
	transform: scale(1.1);
}

.subcategory {
	display: grid;
	align-items: center;

	width: 100%;
	padding: 10px 10px 10px 20px;

	color: var(--white);

	border-radius: 5px;
	background-color: var(--primary);
	box-shadow: 1px 4px 9px 0 rgba(0, 0, 0, 0.25);

	font-size: 22px;
	font-weight: 500;
	line-height: 24px;
	grid-template-columns: 1fr 40px 40px;
	gap: 10px;
}

.subcategory svg {
	stroke: var(--white);
}

.subcategory > div {
	display: none;
}

.servicesContainer {
	display: flex;
	flex-direction: column;
	gap: 15px;

	margin: 0 0 0 20px;
}

.service {
	display: grid;
	grid-template-columns: 1fr 40px 40px;

	align-items: center;
	gap: 10px;

	padding: 10px;

	border-radius: 5px;
	box-shadow: 1px 4px 9px 0 rgba(0, 0, 0, 0.25);
}

.service svg {
	stroke: var(--black) !important;
}

.service > div {
	display: none;
}

@media (max-width: 425px) {
	.h1 {
		margin-top: 10px;
		margin-left: 15px;
	}

	.categoryContainer {
		margin: 15px 20px;
		padding: 20px 10px;
	}

	.categoryTitle {
		font-size: 20px;
		line-height: 22px;
	}

	.subcategoriesContainer {
		gap: 10px;

		padding-top: 15px;
	}

	.subcategory {
		grid-template-columns: 1fr 40px 40px;
		grid-template-rows: auto 40px;

		align-items: center;
		row-gap: 20px;

		padding: 15px;

		font-size: 17px;
		line-height: 19px;
	}

	.subcategory > div {
		display: block;
	}

	.subcategory span {
		grid-column: 1 / -1;
	}

	.button {
		justify-self: center;
	}

	.servicesContainer {
		gap: 10px;

		margin: 0 0 0 10px;
	}

	.service {
		grid-template-columns: 1fr 40px 40px;
		grid-template-rows: auto 40px;

		align-items: center;
		row-gap: 20px;

		font-size: 15px;
		line-height: 17px;
	}

	.service > div {
		display: block;
	}

	.service span {
		text-align: center;
		grid-column: 1 / -1;
	}
}
