.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height: 100vh;
	grid-column: 1 / -1;
}

.loadMessage {
	margin-top: 10px;

	font-size: 20px;
}

.spinner {
	width: 50px;
	height: 50px;

	animation: spin 0.8s ease-in-out infinite;

	border: 3px solid var(--background);
	border-top: 3px solid var(--primary);
	border-radius: 50%;
}

@keyframes spin {
	0% { transform: rotate(-45deg); }
	100% { transform: rotate(315deg); }
}
