@media (max-width: 1200px) {
	.header {
		z-index: 100;

		display: grid;

		width: 100%;
		height: 70px !important;

		padding: 15px 15px 15px 15px;

		background-color: var(--white);
		box-shadow: 1px 1px 2.8px 0 rgba(0, 0, 0, 0.24);
		grid-template-columns: auto 1fr 40px;
		gap: 20px;
	}

	.logo {
		width: 38px;
		height: 38px;

		img {
			border-radius: 0 !important;
		}
	}

	.title {
		display: flex;
		align-items: center;
		justify-content: center;

		font-weight: 700;
	}

	.mobileMenu {
		position: fixed;
		z-index: 10;
		top: 0;
		right: 0;
		bottom: 0;

		overflow-y: scroll;

		width: 100%;
		max-width: 425px;

		background: var(--white);
	}

	.menuClose {
		position: fixed;
		z-index: 11;
		top: 20px;
		right: 20px;

		width: 50px;
		height: 50px;
	}

	.menuOpen {
		width: 38px;
		height: 38px;

		border-radius: 9px;
		box-shadow: 1px 1px 2.8px 0 rgba(0, 0, 0, 0.24);

		svg {
			width: 38px;
			height: 38px;
		}
	}
}
