.layout {
	position: relative;

	display: grid;
	grid-template-columns: 360px minmax(320px, auto);
	grid-template-rows: 1fr auto;
	grid-template-areas:
		"main main"
		"footer footer";

	min-height: 100vh;
}

.header {
	grid-area: header;

	display: none;
}

.sidebar {
	grid-area: sidebar;

	position: fixed;
	top: 0;
	left: -360px;

	width: 360px;
	height: 100%;

	transition: all 0.2s ease-out;
}

.main {
	grid-area: main;
}

.footer {
	grid-area: footer;

	z-index: 1;
}

.stickyWrapper {
	position: sticky;
	z-index: 2;
	right: 10px;
	bottom: 15px;

	display: block;
	float: right;

	width: 45px;
	height: 0;
}

.contactsWrapper {
	position: absolute;
	right: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;

	width: 45px;
	margin-bottom: 15px;
	margin-left: auto;
	gap: 10px;
}

.whatsAppButton {
	width: 45px;
}

.whatsAppButton > img {
	animation: pulse 1.5s ease infinite;
}

.whatsAppButton > .buttonText {
	display: none;
}

.phoneButton {
	width: 45px;
}

.phoneButton > img {
	animation: pulse 1.5s ease infinite;
}

.noBorder {
	border-radius: 0 !important;
}

@media (min-width: 1201px) {
	.stickyWrapper {
		right: 20px;
		bottom: 30px;

		display: block;
		float: right;

		width: 75px;
	}

	.contactsWrapper {
		width: 75px;
		margin-bottom: 30px;
		margin-left: auto;

		gap: 10px;
	}

	.whatsAppButton {
		position: relative;

		width: 60px;
	}

	.whatsAppButton > .buttonText {
		position: absolute;
		z-index: -1;
		right: 30px;
		bottom: 1px;

		display: block;
		overflow: hidden;

		max-width: 0;
		padding: 5px 0;

		transition: all 0.7s ease;
		text-wrap: nowrap;

		color: var(--white);
		border-radius: 15px 0 0 15px;
		background-color: rgba(0, 0, 0, 0.7);
	}

	.whatsAppButton:hover > .buttonText {
		max-width: 306px;
		padding: 5px 40px 5px 10px;
	}

	.phoneButton {
		display: none;

		width: 75px;
	}
}

@media (max-width: 1200px) {
	.layout {
		grid-template-columns: minmax(320px, 1fr);
		grid-template-rows: 70px 1fr auto;
		grid-template-areas:
			"header"
			"main"
			"footer";
	}

	.sidebar {
		display: none;
	}

	.header {
		position: fixed;
		top: 0;
		left: 0;

		display: grid;
	}
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
	}

	50% {
		transform: scale(0.99);
	}

	100% {
		transform: scale(0.9);
	}
}
