.cookies {
	position: fixed;
	z-index: 9999;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 16px;

	text-align: center;

	border: 1px solid #CCC;
	background-color: var(--white);
	gap: 20px;
}

.buttonContainer {
	display: flex;
	flex-wrap: nowrap;
	gap: 20px;

	margin: 0 auto;
}

.acceptButton {
	padding: 15px 25px;

	border: 1px solid var(--primary);
}

.acceptButton:hover {
	transform: none;
}

.rejectButton {
	padding: 15px 25px;

	color: var(--primary);

	border: 1px solid var(--primary);

	background-color: var(--white) !important;
}

.rejectButton:hover {
	transform: none;

	color: var(--white);

	background-color: var(--primary-hover) !important;
}

.link {
	width: fit-content;
	margin: 0 auto;

	text-decoration: underline;
}
