.wrapper {
	height: 100%;
}

.h1 {
	margin-top: 15px;
	margin-bottom: 50px;
	margin-left: 20px;
}

.h3 {
	max-width: 700px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.actionWrapper {
	width: 100%;
	padding: 0 20px;
}

.nameInput {
	display: block;

	width: 100%;
	max-width: 500px;
	margin-bottom: 30px;
	padding: 13px 7px;

	color: var(--black);
	border-radius: 3px;
	box-shadow: 1px 4px 9px 0 rgba(0, 0, 0, 0.25);

	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
}

.button {
	margin: 0 0 20px;
	padding: 14.2px 20px;

	transition: all 0.1s linear;

	color: var(--white);
	border-radius: 18px;
	background-color: var(--primary);

	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
}

.button:active {
	transform: scale(0.9);

	background-color: var(--primary-hover);
}

@media (min-width: 1025px) {
	.button:hover {
		transform: scale(1.02);

		background-color: var(--primary-hover);
	}

	.button:active {
		transform: scale(0.9);

		background-color: var(--primary-hover);
	}
}
