.wrapper {
	display: grid;
	grid-template-columns: auto 1fr minmax(500px, 1fr);

	width: 100%;
	padding: 20px 0 20px 0;

	border-top: 1.5px solid var(--black);
	gap: 15px;

	background-color: var(--background);
}

.wrapper:first-child {
	border-top: none;
}

.about {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.title {
	font-size: 19px;
	font-weight: 500;
	line-height: 20px;
}

.main {
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
}

.image {
	justify-self: right;

	width: 100% !important;
	max-width: 700px !important;
}

@media (max-width: 1050px) {
	.wrapper {
		grid-template-columns: 1fr;
	}

	.image {
		max-width: none !important;
	}
}

@media (max-width: 425px) {
	.wrapper {
		padding: 10px 0 10px 0;
		gap: 10px;
	}
}
